<launch>
  <master auto="start"/>
  <arg name="hololens_ip" default="0.0.0.0" />  
  <arg name="holo_linked_frame" default="Head" />  
  <arg name="robot_odom_frame" default="odom" />    
  <arg name="robot_foot_frame" default="base_link" />
  <arg name="calib_file_path" default="" />
  <node name="holoposition_publisher" pkg="hololens_robot_navigation" type="hololens_localizer" args="$(arg hololens_ip)"  output="screen"/>
  <node name="pepper2holo_calib" pkg="hololens_robot_navigation" type="robot2holo_calib" output="screen" args="$(arg robot_odom_frame) $(arg holo_linked_frame) $(arg robot_foot_frame) $(arg calib_file_path)"  launch-prefix="xterm -e"/>
  <node name="posPublisher" pkg="hololens_robot_navigation" type="positionAdjuster.py" args="$(arg robot_foot_frame)" output="screen"/>

</launch>
